body {
  margin: 0;
  padding: 0;
  height: 100%;
}



ul li a {
  margin-left: 15px;
}

ul li:last-child {
  margin-right: 30px;
}

.bg__pink {
  background-color: #f3f3;  
}

.navbar {
  border-bottom: 2px solid #4141;
  position: fixed;
  min-width: 100vw;
  box-shadow: 1px 4px 4px #3131;
  top: 0;
  z-index: 50;
}

.div__vidasana {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  justify-content: center;
  box-shadow: 1px 4px 4px #3131;
  margin-top: 20px;
}

.navbar-toggler {
  margin-right: 30px;
}

.img__vidasana {
  width: 500px;
  margin: 0px 0px 0px 50px !important;
}

.texto__vidasana {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img__vidasana,
.texto__vidasana {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw; 
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
  align-items: center;
  color: white;
}



.carousel__modal,
 .carousel-inner {

  width: 100%; /* Asegurar que el ancho sea del 100% */
}
.trufas {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
/* Media query para pantallas más pequeñas */
                /* MOBILE */
@media only screen and (max-width: 830px) {


  .div__vidasana {
    flex-direction: column !important; 
  }

  ul li:last-child {
    margin-right: 0px;
  }

  .div__vidasana {
    padding: 0px;
    text-align: center;
    margin-top: 0;
  }
  
  span.texto__vidasana {
    font-size: 30px;
  }

  .img__vidasana {
    margin: 0 auto;
    min-width: 360px;
    margin-left: 0 !important;
    width: 100%;
    max-width: 400px;
  }

  .nav {
    z-index: 2000 !important;
  }
  .carousel__modal {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    width: 600px;
    height: 500px;
    z-index: 1;
    position: relative;
    justify-content: center;

  }
  .card__body {
    display: flex !important;
    flex-direction: column;
    justify-content: center;

  }
}

/* TABLETS */

@media only screen and (min-width: 630px) {

  .div__vidasana {
    margin-top: 20px !important;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    text-align: center;
    justify-content: center;
  }
  
  span .texto__vidasana {
    
  } 

  .img__vidasana {
    margin: 0;
    margin-left: 0px;
    width: 100%;
    min-width: 400px;
    max-width: 450px;
  }


}



.mouse__img {
  width: 300px;

}